{%load static%}
<html>
    <head>
        <title>このすか</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    </head>
    <body>
    <div class="page-header">
        <a href="{%url 'post_new'%}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <h1>
            <img src="https://sun9-40.userapi.com/impg/3VL1s0uvp-Gy9yDj5pFuIDk8KbERDiIOU5xK_w/AoLo6WNa7TM.jpg?size=814x811&quality=96&sign=7e74aef243abdc7a9998a3de4684d4f6&type=album"height="110px">
            <a href="/"> Клуб алкоголиков, а надо повод?</a>
            <img src="https://media.tenor.com/vBTcA_EnDKQAAAAd/anime-renge.gif"height="110px">
        </h1>
    </div>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {%block content%}
            {%endblock%}
            </div>
        </div>
    </div>
</body>
</html>